{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="container">
    <img class="hero-img" src="{% static 'polls/images/background.gif' %}"/>

	<div class="copy-container">
		<h1>{{ question.question_text }}</h1>

		<form class="form" action="{% url 'polls:vote' question.id %}" method="post">
			{% csrf_token %}
			<div class="radio-set">
				{% for choice in question.choice_set.all %}
				    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
				    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
				{% endfor %}
			</div>
			<input class="btn btn-submit" type="submit" value="Vote">
		</form>

		<a class="link" href="{% url 'polls:index' %}">Check popular polls</a>
	</div>
</div>